<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <title>Index page</title>
</head>

<body>
    <div class="container">
        <header>
            <div class="logo">
                <img width="30" height="30" class="image-logo"
                    src="https://img.icons8.com/puffy/32/triangle-stroked.png" alt="triangle-stroked" />
                alan.<span class="word">dev</span>
            </div>

            <nav>
                <a href="#">Home</a>
                <a href="#">Projects</a>
                <a href="#">Resume</a>
            </nav>

            <form class="search-box">
                <input type="search" id="gsearch" name="gsearch" placeholder="Search..." />
                <button type="submit"><img width="20" height="20"
                        src="https://img.icons8.com/ios/50/FFFFFF/search--v1.png" alt="search--v1" /></button>
            </form>

            <div class="icons">
                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                <a href="#"><i class="fa-brands fa-github"></i></a>
            </div>
        </header>
        <aside>
            <div class="sidebar">
                <a href="#"><i class="fa-solid fa-house"></i> Introduction</a>
                <a href="#"><i class="fa-solid fa-user"></i> About</a>
                <a href="#"><i class="fa-solid fa-diagram-project"></i> Projects</a>
                <a href="#"><i class="fa-solid fa-code"></i> Skills</a>
                <a href="#"><i class="fa-solid fa-briefcase"></i> Experience</a>
                <a href="#"><i class="fa-solid fa-graduation-cap"></i> Education</a>
                <a href="#"><i class="fa-solid fa-envelope"></i> Contact</a>
            </div>
        </aside>

        <main>
            <div class="about-me">
                <img src="/app/static/36322.jpg" alt="">
                <h1>Alan Chacko</h1>
                <h3>Software Developer</h3>
                <ul class="skills">
                    <li>Python</li>
                    <li>Flask</li>
                    <li>Data <A></A>nalysis</li>
                    <li>Agile practices</li>
                </ul>
                <p>building web, product based application</p>
            </div>
        </main>
    </div>
</body>

</html>